{% load static %} {% load i18n %} {% load account socialaccount %}

<html lang="en">
  <head>
    <title>TUPortfolio</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <link rel="stylesheet" href="{% static 'portfolio/index.css' %}" />
  <body>
    <!-- Navigation -->
    <nav
      class="navbar navbar-expand-lg navbar-custom fixed-top"
      style="margin-bottom: 50px"
    >
      <div id="logo">
        {% if request.user.is_authenticated %}
        <a href="{% url 'profile' user %}">
          <img
            id="logo"
            src="https://scontent.fmnl2-2.fna.fbcdn.net/v/t1.15752-9/285301891_375399914621686_9147164360215708785_n.png?_nc_cat=107&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeHQ3nVoaMPAXDLQw088pXUIbrXWkVHtb7xutdaRUe1vvH2S9M-q5ieOcZIyJ2fjOSoBk_l0BBplLLdperC9JOqY&_nc_ohc=sZXqL8B0WQcAX8d3PqT&_nc_ht=scontent.fmnl2-2.fna&oh=03_AVIFv1yTYPrhRq-mmmflSAKg0NbdAqYcOYGJEQQCLWOeEw&oe=62BDDAF6"
            alt="logo"
          />
        </a>
        {% else %}
        <img
          id="logo"
          src="https://scontent.fmnl2-2.fna.fbcdn.net/v/t1.15752-9/285301891_375399914621686_9147164360215708785_n.png?_nc_cat=107&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeHQ3nVoaMPAXDLQw088pXUIbrXWkVHtb7xutdaRUe1vvH2S9M-q5ieOcZIyJ2fjOSoBk_l0BBplLLdperC9JOqY&_nc_ohc=sZXqL8B0WQcAX8d3PqT&_nc_ht=scontent.fmnl2-2.fna&oh=03_AVIFv1yTYPrhRq-mmmflSAKg0NbdAqYcOYGJEQQCLWOeEw&oe=62BDDAF6"
          alt="logo"
        />
        {% endif %}
      </div>
      <div class="container">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#" style="color: #ccc"
                >Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#aboutus" style="color: #ccc"
                >About Us</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="{%url 'leaderboard' %}"
                style="color: #ccc"
                >Leaderboard</a
              >
            </li>
            <li class="nav-item">
              {% if request.user.is_authenticated %}
              <a
                class="nav-link"
                href="{%url 'leaderboard' %}"
                style="color: black"
                >{{request.user.last_name}}</a
              >
              {% else %}
              <form action="{% provider_login_url 'google' %}" method="post">
                {% csrf_token %}
                <button
                  type="submit"
                  class="nav-link"
                  style="background-color: #bc1823; border: none"
                >
                  Login
                </button>
              </form>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header>
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        style="margin-top: 60px"
        data-ride="carousel"
      >
        <ol class="carousel-indicators">
          <li
            data-target="#carouselExampleIndicators"
            data-slide-to="0"
            class="active"
          ></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div
            class="carousel-item active"
            style="
              background-image: url('https://scontent.fmnl2-2.fna.fbcdn.net/v/t1.15752-9/284471989_739243787096207_4960303860925842419_n.png?_nc_cat=108&ccb=1-7&_nc_sid=ae9488&_nc_ohc=lpEZ33pwLn8AX8lQY2_&_nc_ht=scontent.fmnl2-2.fna&oh=03_AVI_SJ9I0fQz6s3U_9AYVqxGPJYbRrAh0VfIxgFmFiVuNw&oe=62BD598F');
            "
          >
            <div class="carousel-caption d-none d-md-block"></div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div
            class="carousel-item"
            style="
              background-image: url('https://scontent.fmnl2-2.fna.fbcdn.net/v/t1.15752-9/284119985_1714810762184901_2484350265930807742_n.png?_nc_cat=104&ccb=1-7&_nc_sid=ae9488&_nc_ohc=44aJ9pb3YiwAX_DRH0V&_nc_ht=scontent.fmnl2-2.fna&oh=03_AVLlxAs_dpIXMXMxxkRaBloPSDa05JOU7oZqwmEi4lAWJQ&oe=62BBC750');
            "
          >
            <div class="carousel-caption d-none d-md-block"></div>
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div
            class="carousel-item"
            style="
              background-image: url('https://scontent.fmnl2-2.fna.fbcdn.net/v/t1.15752-9/282208130_1202966013842599_1221974085649657047_n.png?_nc_cat=101&ccb=1-7&_nc_sid=ae9488&_nc_ohc=9PrMX9BxabEAX_-50Nr&_nc_ht=scontent.fmnl2-2.fna&oh=03_AVLJLqxkDoU3XBN_NL85_q9f-Y5DG5cy8j7NQ99xKgMTvQ&oe=62BE9A4E');
            "
          >
            <div class="carousel-caption d-none d-md-block"></div>
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>

    <!-- Page Content -->
    <section class="py-5 text-center" id="aboutus">
      <div class="container">
        <h2 class="text-center">TUPortfolio Features</h2>
        <p class="text-muted mb-5 text-center">
          TUPortfolio offers a number of features to cater to and acknowledge
          the needs of students. These features will assist students in
          navigating the website and staying on track..
        </p>
        <div class="row">
          <div class="col-sm-6 col-lg-4 mb-3">
            <svg class="lnr text-primary services-icon">
              <use xlink:href="#lnr-chart-bars"></use>
            </svg>
            <h6>Leaderboards</h6>
            <p class="text-muted">
              that will showcase your progress in coding.
            </p>
          </div>
          <div class="col-sm-6 col-lg-4 mb-3">
            <svg class="lnr text-primary services-icon">
              <use xlink:href="#lnr-envelope"></use>
            </svg>
            <h6>Exclusive for TUP students</h6>
            <p class="text-muted">Only TUP emails are allowed to login.</p>
          </div>
          <div class="col-sm-6 col-lg-4 mb-3">
            <svg class="lnr text-primary services-icon">
              <use xlink:href="#lnr-cloud-sync"></use>
            </svg>
            <h6>Github Repository</h6>
            <p class="text-muted">
              the system will analyze your github repositories.
            </p>
          </div>
          <div class="col-sm-6 col-lg-4 mb-3">
            <svg class="lnr text-primary services-icon">
              <use xlink:href="#lnr-graduation-hat"></use>
            </svg>
            <h6>Students Ranking</h6>
            <p class="text-muted">
              rank by course/year level by how much you upload.
            </p>
          </div>
          <div class="col-sm-6 col-lg-4 mb-3">
            <svg class="lnr text-primary services-icon">
              <use xlink:href="#lnr-code"></use>
            </svg>
            <h6>Your favorite programming language</h6>
            <p class="text-muted">
              this website will help you determine which programming language
              you are excelling.
            </p>
          </div>
          <div class="col-sm-6 col-lg-4 mb-3">
            <svg class="lnr text-primary services-icon">
              <use xlink:href="#lnr-list"></use>
            </svg>
            <h6>Github Ranking</h6>
            <p class="text-muted">
              the system will rank the user based on their github repository.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- /.container -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>
    <style>
      .carousel-item {
        height: 100vh;
        min-height: 330px;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
      section {
        padding-top: 5rem;
        padding-bottom: 5rem;
      }
      .lnr {
        display: inline-block;
        fill: #bc1823;
        width: 1em;
        height: 1em;
        vertical-align: -0.05em;
        stroke-width: 1;
      }

      .services-icon {
        margin-bottom: 20px;
        font-size: 30px;
      }
      .vLine,
      .hLine {
        background-color: #0f52ba;
      }

      .quote-icon {
        font-size: 40px;
        margin-bottom: 20px;
      }
      .services-icon {
        font-size: 60px;
        margin-left: 2rem;
      }
      .navbar-custom {
        background-color: #bc1823;
      }
      /* Modify brand and text color */

      .navbar-custom .navbar-brand,
      .navbar-custom .navbar-item .nav-link {
        color: rgb(255, 255, 255);
      }
      .navbar a {
        font-family: "Lato", sans-serif;
        font-weight: bold;
      }
      .logo {
        position: fixed;
        top: 0;
        margin-top: 16px;
      }
    </style>
  </body>
</html>
