{% extends "portfolio/layout.html" %} {% load static %} {% block body %}




<img src="https://ghchart.rshah.org/781402/{{gitname}}" alt="2016rshah's Blue Github chart" />
<br>


<img src="https://avatars.githubusercontent.com/{{gitname}}" alt="profilepic" />

<br>
<h1>course :{{leader.courseID}}</h1>
<h1>year: {{leader.yearID}}</h1>
<h1>email: {{user.email}}</h1>
<h1>nickname: {{profile.nickname}}</h1>
<h1>{{p}}</h1>

<h1>{{s}}</h1>

<form action="{% url 'refresh' gitname %}" method="post">
    {% csrf_token %}
    <button name="refresh">Update</button>
</form>





<!-- <img src="https://icon-widget.codersrank.io/api/MATLAB" alt="JavaScript"> -->

<br>
<h1>overall score = {{leader.overallScore}}</h1>
<h1>overall rank = {{rank}}</h1>





{% endblock %}