<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FillmeUp</title>
  </head>
  <body>
  <h1>{{request.user}}</h1>      

    </form>

    <h3>{{request.session.githuberr}}</h3>
    <h3>{{request.session.githubexist}}</h3>
    
    <form action="{% url 'checkform' %}" method="post">
      {% csrf_token %}
      <select name="yearlevelid" id="">
        {% for yearlevel in yearlevels %}
        <option value="{{yearlevel.id}}">{{yearlevel}}</option>
        {% endfor %}
      </select>
      <select name="courseid" id="">
        {% for course in courses %}
        <option value="{{course.id}}">{{course}}</option>
        {% endfor %}
      </select>
      <label for="nick">Nickname</label>
      <input id="nick" name="nickname" type="text" />

      <label for="git">Github</label>
      <input id="git" name="github" type="text" value="{{request.session.githubn}}"/>
      <label for="about">About Me </label>
      <textarea name="aboutMe" id="about" cols="30" rows="10"></textarea>

      <input type="submit" />
    </form>
  </body>
</html>


