<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link
      href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  </head>
  <body>
    <!--login modal-->
    <div
      id="loginModal"
      class="modal show"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="text-center">SignUp</h1>
          </div>
          <div class="modal-body">
            <form
              class="form col-md-12 center-block"
              action="{% url 'checkform' %}"
              method="post"
            >
              {% csrf_token %}

              <div class="form_group">
                <select name="yearlevelid" id="" class="form-control input-lg"
                style="margin-bottom: 20px">
                  <option value="" disabled selected>Select your Year Level</option>
                  {% for yearlevel in yearlevels %}
                  <option value="{{yearlevel.id}}">{{yearlevel}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form_group">
                <select name="courseid" id="" class="form-control input-lg"
                style="margin-bottom: 20px">
                  <option value="" disabled selected>Select your Course</option>
                  {% for course in courses %}
                  <option value="{{course.id}}">{{course}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <input
                  type="text"
                  name="nickname"
                  class="form-control input-lg"
                  placeholder="Nickname"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control input-lg"
                  placeholder="Github Name"
                  name="github"
                  value="{{request.session.githubn}}"
                />
              </div>
              <h4>{{request.session.githuberr}}</h4>
              <h4>{{request.session.githubexist}}</h4>
              <div class="form-group">
                <textarea
                  id=""
                  class="form-control input-lg"
                  cols="30"
                  rows="5"
                  name="aboutMe"
                  placeholder="AboutMe"
                ></textarea>
              </div>

              <div class="form-group"  style="color: #bc1823;">
                <button class="btn btn-danger btn-lg btn-block" type="submit">
                  Submit
                </button>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <div class="col-md-1accordion2">
            </div>
          </div>
        </div>
      </div>
    
    </div>

    <style type="text/css">
      body {
        margin-top: 20px;
      }
      .modal-footer {
        border-top: 0px;
      }
      h4{
        color: #bc1823;
      }
    </style>

    <script type="text/javascript"></script>
  </body>
</html>
